/* css reset */
        * {
            margin: 0;
            padding: 0;
        }

        /* BG ONE */

        .bgOne {
            background-color: rgba(187, 187, 187, 0.459);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
        }

        .bgOne::before {
            content: '';
            position: fixed;
            width: 100%;
            height: 100%;
            background: url('/Parallax-Website/img/bg/1.jpg') no-repeat center center/cover;
            z-index: -10;
        }

        .bgOne h1 {
            font-size: 45px;
            font-weight: 300;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            background-color: rgba(48, 40, 40, 0.712);
            padding: 10px 20px;
            text-align: center;
        }

        /* SECTION ONE */

        .sectionOne,
        .sectionTwo,
        .sectionThree {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 45vh;
            background-color: rgb(236, 236, 236);

        }

        .sectionTwo{
            background-color: rgb(207, 207, 207);
        }

        .sectionThree{
            background-color: rgb(20, 19, 19);
        }

        .sectionThree h2, .sectionThree p{
            color: white !important;
        }

        .sectionOne h2,
        .sectionTwo h2,
        .sectionThree h2 {
            font-size: 35px;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px;
            color: rgb(95, 95, 95);
        }

        .sectionOne p,
        .sectionTwo p,
        .sectionThree p {
            padding: 10px 50px;
            font-size: 15px;
            line-height: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: rgb(119, 119, 119);

        }

        /* BG TWO */

        .bgTwo {
            background: url('/Parallax-Website/img/bg/2.jpg');
            background-attachment: fixed;
            width: 100vw;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bgTwo h1 {
            font-size: 45px;
            font-weight: 300;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            background-color: rgba(11, 44, 114, 0.715);
            padding: 10px 20px;
            text-align: center;
        }

        /* BG Three */

        .bgThree {
            background: url('/Parallax-Website/img/bg/3.jpg');
            background-attachment: fixed;
            width: 100vw;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bgThree h1 {
            font-size: 45px;
            font-weight: 300;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            background-color: rgba(38, 40, 44, 0.715);
            padding: 10px 20px;
            text-align: center;
        }

        /* BG Four */

        .bgFour {
            background: url('/Parallax-Website/img/bg/4.jpg');
            background-attachment: fixed;
            width: 100vw;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bgFour h1 {
            font-size: 45px;
            font-weight: 300;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            background-color: rgba(43, 45, 51, 0.715);
            padding: 10px 20px;
            text-align: center;
        }
